<h1><%= @project.title %></h1>

<div>
	<%= @project.description %>
	<% @project.labels.each do |label| %>
      <%= label.name %>
	<%end%>

  <% @project.gallery.project_images.each do |image| %>
    <%= image_tag image.url(:medium) %>
  <% end %>
</div>

